doctype hmtl
html 
  head
    link(rel='stylesheet', href='css/style.css')
    style. 
      p {
        color: red;
        text-decoration: underline;
      }
  body
    p(style="text-align: center; text-transform:uppercase;") Hello World

    -const pStyles = {"text-align": "center", "text-transform": "uppercase"};
    p(style=pStyles) Bye World